/* font families */
$font-family-roboto: "Roboto Slab", serif;
$font-family-lato: "Lato", sans-serif;
$font-family-red-hat: "Red Hat Display", sans-serif;
/* basic colors */
$primary-color-purple: #633ea5;
$primary-color-purple-light: #f9edfd;
$primary-color-yellow: #ffce5e;
$secondary-color-grey: #f2f2f2;
$radio-button-background: #f7cf71;

/* Share Class Colors */
$share-class-S: #71df96;
$share-class-SA: #81c99d;
$share-class-SB: #65cc88;
$share-class-SW: #71df96;
$share-class-CS: #6d8edf;
$share-class-CNA: #e07474;
$share-class-NSA: #219653;
$share-class-WC: #6d8edf;
$share-class-WC1: #6d8edf;

/* Font Colors */
$font-primary: #333333;
$font-secondary: #4f4f4f;
$font-tertiary: #828282;
$font-fourth: #bdbdbd;
$menu-font-color: #ae9bcf;
$font-content: #202020;

/* Common Colors */
$color-orange: #f2994a;
$color-blue: #7bcde1;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #707070;
$color-grey-light: #c9c9c9;

/* body-background Colors */
$body-background-color: #e5e5e5;
$input-background-color: #FAF9F9;

/* font Weight */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/* Shadows */
$shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
$sidebar-shadow: -4px 4px 4px rgba(0, 0, 0, 0.15);
$card-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);

/*Screen Size*/
$small: 320px;
$medium: 768px;
