@import "./../../../assets/scss/abstracts/variables";
.planets-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 30px;
    .header-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font: normal bold 18px/24px Lato;
        .button-container{
            button{
                display: flex;
                align-items: center;
                cursor: pointer;
                background: #633ea5;
                color: #ffffff;
                height: 40px;
                border: none;
                outline: none;
                padding: 0px 15px;
            }
        }
        @media screen and (max-width: $medium) {
            .header-text{
                width: 38%;
            }
            .header-search-box{
                width: 60%;
            }
        }
        
    }
    .planets-body-container{
        height: 85vh;
        padding-bottom: 15px;
        margin-top: 15px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: flex-start;
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        @media screen and (max-width: $medium) {
            height: 78vh;
        }
        .planets-container{
            flex: none;
            margin: 8px;
            .favorite-icon img{
                cursor: pointer;
                width: 20px;
                height: 20px;
            }
            p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.planets-body-container::-webkit-scrollbar {
    display: none;
}